Q1. Create one variable containing following type of data:

(i) string

(ii) list

(iii) float

(iv) tuple

In [2]:
# Ans

my_str = 'Dev'
type(my_str)

str

In [3]:
my_list = [1,2,3,4]
type(my_list)

list

In [4]:
my_float = 45.34
type(my_float)

float

In [7]:
my_tuple = (1,2,3,4,5)
type(my_tuple)

tuple

---------------------

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

What will be the data type of the above given variable.

In [8]:
var1 = ''
var2 = '[DS,ML,Python]'
var3 = ['DS','ML','Python']
var4 = 1

In [9]:
type(var1)

str

In [10]:
type(var2)

str

In [11]:
type(var3)

list

In [12]:
type(var4)

int

--------------------

Q3. Explain the use of the following operators using an example:

(i) /

(ii) %

(iii) //

(iv) **

**ANS :**

(i) / : Division. This is used to devide 2 numbers. Example : 4 / 2 = 2


(ii) % : Modulus. This is used to find the remainder. Example : 5 % 2 = 1


(iii) // : Floor division. This rounds the result down to the nearest whole number : 7 // 2 = 3


(iv) ** : Exponentiation. Example 2*3 = 22*2 = 8

In [13]:
4 / 2

2.0

In [14]:
5 % 2

1

In [15]:
7 // 2

3

In [16]:
2 ** 3

8

---------------------

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [17]:
#Define the list
my_list1 = [1,5.2,"Dev",[1,2,3],("Dog","Cat","Lion"),3+5j,True,{"color" : "Red"},12,6.7778]
print("Length of the list : ",len(my_list1))

#Print the elements of the list
for i in my_list1 :
    print(i)

Length of the list :  10
1
5.2
Dev
[1, 2, 3]
('Dog', 'Cat', 'Lion')
(3+5j)
True
{'color': 'Red'}
12
6.7778

-----------------------

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [18]:
a = 100
a1 = a
b = 2
counter = 0
while a1 % b == 0 :
    counter += 1
    a1 /= b

if counter > 0 :
    print (f"{a} is divisible by {b} and can be divided {counter} times")
else:
    print(f"{a} is not divisible by {b}")

100 is divisible by 2 and can be divided 2 times

-----------------

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [19]:
import random
my_list1 = []
for i in range(25):
    my_list1.append((random.randint(0,100)))

for num in my_list1 :
    if num % 3 == 0 :
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

50 is not divisible by 3
6 is divisible by 3
81 is divisible by 3
64 is not divisible by 3
95 is not divisible by 3
71 is not divisible by 3
20 is not divisible by 3
14 is not divisible by 3
90 is divisible by 3
45 is divisible by 3
65 is not divisible by 3
71 is not divisible by 3
78 is divisible by 3
56 is not divisible by 3
36 is divisible by 3
72 is divisible by 3
13 is not divisible by 3
53 is not divisible by 3
65 is not divisible by 3
10 is not divisible by 3
2 is not divisible by 3
5 is not divisible by 3
41 is not divisible by 3
41 is not divisible by 3
19 is not divisible by 3

-----------------

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

**Immutable :** 

Values or Elements of an objects can not be changed.

Example values inside a string can not be changed.

Let's declare a string variable name = "Devjyoti".

Here I can not change value at 2nd index "v" to "b". Instead I have to assign value "Debjyoti" as a whole to variable name to get this changed"

**Mutable :** 

Values or Elements of an objects can be changed

Example values inside a list can be changed.

Let's declare a list variable my_list = ["Dev",25, 30]

Here I can change the value "Dev" at zeroth index to 20